# Domain Name (e.g. login.42.fr)
DOMAIN_NAME=mlabrirh.42.fr

# MariaDB Configuration
DATA_BASE=inception_db
DB_USER=wp_user

# WordPress Administrator (MUST NOT contain "admin" or "Admin")
WP_ADMIN_USER=wp_master
WP_ADMIN_EMAIL=wp_master@mlabrirh.42.fr

# WordPress Regular User
WP_REGULAR_USER=mlabrirh_user
WP_REGULAR_EMAIL=mlabrirh_user@mlabrirh.42.fr

# Host Data Directory for Volumes
DATA_PATH=/home/mlabrirh/data
